/* --------------------------- *\
              FOOTER
\* --------------------------- */

#footer {
    margin-top: 136px;
    margin-bottom: 32px;

    display: flex;
    align-items: center;
}

    .footer__copyright {
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: var(--color-black);
        margin: 0;
    }