/* --------------------------- *\
        SOCIAL / CONTACT
\* --------------------------- */

#social, 
#contact {
    min-height: calc(100vh - 182px);

    display: none;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}
#social.active, 
#contact.active {
    display: grid;
}

    .main__title--social {
        grid-column: 5 span;
    }
    
    .social__content {
        margin-top: 135px;
        grid-column: 7 span;

        display: flex;
        flex-direction: column;
    }

        .social__link {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: var(--color-black);
            text-decoration: none;

            width: fit-content;
            margin: 0.25em 0;
        }
        .social__link:first-of-type {
            margin-top: 0;
        }
        .social__link:last-of-type {
            margin-bottom: 0;
        }

        .social__link:hover {
            text-decoration: line-through;
        }