/* --------------------------- *\
            ANIMACIONES
\* --------------------------- */

.traslate_y,
.traslate_y div {
    overflow: hidden;
}

.traslate_y span {
    position: relative;
    bottom: -1em;
    
    animation: traslate_y 1s forwards;
}

@keyframes traslate_y {
    100%{
        bottom: 0;
    }
}

.fade_in {
    opacity: 0;
    transform: translateY(10px);

    animation: fade_in 1s forwards;
    animation-delay: 250ms;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.image_animation {
    display: block;
    position: relative;
    overflow: hidden;
}

.image_animation::before, 
.image_animation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image_animation::before {
    z-index: 100;
    background-color: #3e3e3e;
    animation: image_animation 250ms 350ms forwards ease-in-out;
}

.image_animation::after {
    z-index: 200;
    background-color: var(--color-gray);
    animation: image_animation 250ms forwards ease-in-out;
}

    .image_animation img {
        transform: scale(1.05);
        animation: image_animation2 500ms 500ms forwards;
    }

@keyframes image_animation2 {
    100% {
        transform: scale(1)
    }
}

@keyframes image_animation {
    100% {
        height: 0;
    }
}