/* --------------------------- *\
            ANIMACIONES
\* --------------------------- */

/* -------- NAV ITEMS -------- */

.navbar__link,
.navbar__menu {
    animation: fade_in 250ms;
}

.menu__link {
    opacity: 0;
    transform: translateY(10px);

    animation: fade_in 250ms forwards;
}
 .menu__link--about {
    animation-delay: 100ms
}
 .menu__link--social {
    animation-delay: 200ms
}
 .menu__link--contact {
    animation-delay: 300ms
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

/* --------- TITLES ---------- */

.main__title,
.main__title div {
    overflow: hidden;
}
.main__title span {
    position: relative;
    bottom: -1em;
}
.main__title.animation span {
    animation: main__title 1s forwards;
}
@keyframes main__title {
    100%{
        bottom: 0;
    }
}

/* ---------- TEXTS ---------- */

.section__header,
.about__text,
.about__title,
.social__link,
.contact__link {
    opacity: 0;
    transform: translateY(10px);
}

.section__header.animation,
.about__text.animation,
.about__title.animation,
.social__link.animation,
.contact__link.animation {
    animation: text_animation 1s 250ms forwards;
}

@keyframes text_animation {
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

/* --------- IMAGES ---------- */

.section__link {
    position: relative;
    overflow: hidden;
    transition: 250ms
}
.section__link:not(.section__link--hero):hover {
    transform: scale(1.05)
}

.section__link::before, 
.section__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section__link::before {
    z-index: 100;
    background-color: var(--color-darkgray);
}
.section__link::after {
    z-index: 200;
    background-color: var(--color-gray);
}
.section__link.animation::before {
    animation: section__link 250ms 650ms forwards ease-in-out;
}
.section__link.animation::after {
    animation: section__link 250ms 300ms forwards ease-in-out;
}

    .section__link .section__image {
        transform: scale(1.05);
    }
    .section__link.animation .section__image {
        animation: section__image 500ms 800ms forwards;
    }

@keyframes section__link {
    100% {
        height: 0;
    }
}

@keyframes section__image {
    100% {
        transform: scale(1)
    }
}