/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
    font-family: FaktPro, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 24px;
    background-color: var(--color-gray);
}

.overflow__hidden {
    overflow: hidden;
}

.main__section {
    display: none;
}
.main__section.active {
    display: grid;
}

.main__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1px;
    color: var(--color-black);

    margin: 0;
    padding: 144px 0 32px;
}