/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
    font-family: FaktPro, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 24px;
    background-color: var(--color-gray);
}