/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
    font-family: FaktPro, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    background-color: var(--color-gray);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}