@media (max-width: 475px) {

    /* -------- GENERALES -------- */

    body {
        padding: 0;
    }

    .main__section.active {
        display: block;
    }

    .main__title {
        margin: 0 24px 0;
        padding-top: 403px;
    }

    /* --------- HEADER ---------- */

    /* #header {
        position: absolute;
        padding-top: 32px;
    } */
    
        .header__navbar {
            /* height: initial; */

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .navbar__link--logo {
                position: initial;
            }

            .navbar__link--about,
            .navbar__link--social,
            .navbar__link--contact {
                display: none;
            }

        .navbar__menu {
            display: block;
        }

    /* ---------- HOME ----------- */

    .home__section {
        display: block;
    }

        .section__header {
            grid-template-columns: 5fr 7fr;
        }

        .section__header--hero {
            margin: 40px 24px 24px;
        }
        .section__header--books {
            margin: 112px 24px 80px;
        }
        .section__header--music {
            margin: 112px 24px 51px;
        }

            .section__title,
            .section__description {
                grid-column: 1 span;
            } 

        .section__galery {
            padding: 0 24px;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 27px;
        }

            .section__link {
                grid-column: 1 span;
            }

    /* -------- ABOUT ME --------- */

    .about__content {
        line-height: 1.57;
        margin: 40px 24px 0;
    }

        .about__text {
            font-size: 14px;
        }

        .about__title {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
        }

    /* ----- SOCIAL / CONTACT ---- */

    .social__content,
    .contact__content {
        margin: 40px 24px 0;
    }

        .social__link,
        .contact__link {
            font-size: 14px;
            line-height: 1.57;
        }

    /* --------- FOOTER ---------- */

    #footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}